@import 'reset';
@import 'variables';
@import 'mdeditor';

.app {
  min-height: 100vh;

  * {
    box-sizing: border-box;
  }
}

.content-page {
  display: flex;
}

.main {
  margin-top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  width: 100%;

  .MuiCardHeader-action {
    margin: 0;
  }
}

.contrast {
  color: #fff !important;
}

.MuiCardHeader-content {
  overflow: clip;
  min-width: 0;
  max-width: 465px;
}

.transparent {
  opacity: 0;
}

.side {
  overflow-x: hidden;
  transition: width 0.2s ease-in-out;

  &:not(.collapsed) {
    width: 200px;
    min-width: 200px;
  }

  &.collapsed {
    width: 50px;
    min-width: 50px;
  }
}

.draggable {
  cursor: move;
}

.draggable:active {
  cursor: move !important;
}

.app .MuiIconButton-root:hover.delete:hover {
  background-color: #eb0014;

  svg {
    fill: white;
  }
}

.wrapper {
  margin: 20px 0;
}

.disabledTms {
  opacity: 0.3;

  button {
    cursor: default;
  }
}
