.container {
  border-radius: 4px;
  padding: 8px;

  &.active {
    border: 4px solid var(--mui-pallete-info-main);
    padding: 4px;
  }

  .cardBtn {
    display: flex;
    flex-direction: column;
    text-transform: none;

    .header {
      color: var(--mui-palette-text-primary);
      height: 64px;
    }

    .content {
      height: 130px;
      color: var(--mui-palette-text-secondary);

      .description {
        height: 70px;
        overflow-y: clip;
        white-space: pre-wrap;
      }
    }
  }

  .actionPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 8px;
  }
}
