.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.skeleton {
  border-radius: 10px;
}

.header {
  flex-wrap: wrap;
  row-gap: 20px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}
